
h3 {
    color: hsl(154, 23%, 12%);
    text-size-adjust: 300;
    text-align: justify;
    background-color: rgb(26, 146, 146)
}

#page1 {
    color: #162552;
    text-align: center;
    margin: auto;
    background-color: rgb(27, 92, 141);
}

#img1 {
   width: 100%;
   height : auto;
   max-width: 100%;
   object-fit: cover;
    border-radius: 10px;
   transition: transform 0.1s ease-in-out;

}

.page2 {
    text-align: center;
    text-justify: inter-word;   
    margin: auto;
    background-color: rgb(208, 240, 26);
}
body {
    background-image: url('https://cdn.pixabay.com/photo/2022/12/11/20/41/programming-7649719_1280.jpg');
    background-size: cover;
    height: auto;
    background-position: center;
    width: 100%;
}

.arrowfinger {
    width: 16px;
    height: auto;
    margin-left: 6px;
}
.nextpage{
    background-color: rgb(206, 121, 60);
    margin-top: 10px;
    margin-bottom: 10px;

}

.expli{
    background-color: aquamarine;
    text-wrap-style: wrap;
    text-align: center;
    text-size-adjust: 300;
    margin: auto;
}
.text_centre1 {
    text-align: center;
    text-justify: inter-word;   
    margin: auto;
}
.text_centre {
    text-align: center;
    text-justify: inter-word;   
    margin: auto;
    background-color: #094046;
    margin-top: 15x;
    margin-bottom: 15x;
}
.css_intro{
    text-align: center;
    text-justify: inter-word;   
    margin: auto;
    background-color: #8d8402a6;
}
.textcolor{
    color: rgb(192, 189, 11);
}

a:hover {
    color: #ff0000;
    text-decoration: none;
}
a{
    color: #f6f6f6;
    text-decoration: none;
}
.thenote{
    text-wrap: auto;
    
}
.textuplink{
    text-align: center;
    text-justify: inter-word;   
    margin: auto;
    background-color: #7e8e24;
}
.ouinon{
    text-align: center;
    text-justify: inter-word;   
    margin: auto;
    background-color: #23475a;
}

.menu {
  position: fixed;
  top: 13%;
  right: 0;
  width: 200px;
  height: 100vh;
  padding: 20px;
}
audio {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    display: block;
}

.socal-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.social-icons {
    width: 24px;
    height: 24px;
    object-fit: contain;
    display: block;
}   
.social-icons-list {
    display: flex;
    gap: 10px;
    list-style: none;
    padding-left: 0;
    margin: 15px 0;
}
